body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f1f5f9;
    color: #1e293b;
}

header
{ 
    background: linear-gradient(180deg, #0ea5e9, #0284c7);
    /* background: #1e3a8a; */
    color: white;
    padding: 15px 30px;
    /* padding: 20px 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

header h1{
    padding-left: 50px;
}

header h4{
    padding-right: 50px;
}

.btnlogout
{
    /* color: white; */
    border: none;
    border-color: #1e3a8a;
    /* background-color: #ff4d4d; */
    padding: 10px 17px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
    color:#1e3a8a;
    font-weight: bold;
}

.container{
    padding: 30px;
}

/* Dashboard Cards */
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
    margin-bottom: 40px;
    
}

.cards a{
    text-decoration: none;
}

.card{
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card h3{
    font-size: 19px;
    color: #1e3a8a;
    margin-bottom: 12px;
}

.card p{
    font-size: 24px;
    font-weight: bold;
    color: #2563eb;
}

/* Recent table */
table{
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

th,td{
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
}

th{
    background: #e0f2fe;
    color: #1e3a8a;
    font-weight: bold;
}

tr:hover{
    background: #f9fafb;
}

.btnreport{
    background: #02889a;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s,transform 0.2s;
}

.btnreport:hover{
    background: #09b8d0;
    transform: scale(1.05);
}