* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #9db9c6;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
}

/*Profile card*/ 
.profile-card {
    background: white;
    padding: 45px 35px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    max-width: 1220px;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 100px;
    text-align: center;
    color: #222;
}

.title i {
    color: #007bff;
    margin-right: 6px;
}

/* Form */
.profile-form {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row
{
    display: flex;
    gap: 1rem;
}

.form-row .form-group {

    flex: 1;
    /* display: flex;
    flex-direction: column;
    position: relative; */
}

.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
    color: #444;
    font-size: 0.9rem;
}

.form-group select
{
    width: 100%;
    box-sizing: border-box;
    padding: 9px 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    font-size: 0.95rem;
    background: #fafafa;
    transition: border 0.2s ease, background 0.2s ease;
    /* width: 50%;  */
    /*padding: 15px;
    margin-top: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; */
}

.form-group label i {
    color: #007bff;
    margin-right: 4px;
}

.form-group input {
    width: 100%;
    box-sizing: border-box;
    /* width: 50%; */
    padding: 9px 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    font-size: 0.95rem;
    background: #fafafa;
    transition: border 0.2s ease, background 0.2s ease;
}

.form-group input:focus {
    border-color: #007bff;
    background: #fff;
}

/*Password toggle*/
.password-toggle {
    position: absolute;
    right: 12px;
    top: 37px;
    cursor: pointer;
    color: #888;
    font-size: 0.95rem;
    transition: color 0.2s ease;
}

.password-toggle:hover {
    color: #007bff;
}

/*Buttons */
.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    gap: 10px;
}

.btn {
    flex: 1;
    padding: 10px 0;
    border-radius: 6px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 500;
    transition: all 0.2s ease;
}

/*Cancel button (outline blue) */
.btn-light {
    background: #fff;
    color: #007bff;
    border: 1px solid #007bff;
    text-align: center;
}

.btn-light:hover {
    background: #007bff;
    color: #fff;
}

/*Save button (solid blue)*/ 
.btn-primary {
    background: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.btn-primary:hover {
    background: #0069d9;
    border-color: #0062cc;
}
