body{
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f1f5f9;
    color: #1e293b;
}

header {
    background: linear-gradient(180deg, #0ea5e9, #0284c7);
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 22px;
}

nav a{
    text-decoration: none;
    font-weight: bold;
}
.container {
    padding: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e3a8a;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

th, td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
}

th {
    background: #e0f2fe;
    color: #1e3a8a;
    font-weight: bold;
}

tr:hover {
    background: #f9fafb;
}

.actions button {
    padding: 6px 12px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.edit-btn {
    background: #38bdf8;
    color: white;
}

.delete-btn {
    background: #ef4444;
    color: white;
}

.add-user {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 16px;
    background: #1e3a8a;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.add-user:hover {
    background: #2563eb;
}

.btnreport{
    background: #02889a;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s,transform 0.2s;
}

.btnreport:hover{
    background: #09b8d0;
    transform: scale(1.05);
}